* {
  border: none;
  border-radius: 0;
  font-family: "Ac437 PhoenixVGA 9x14";
  font-size: 13px;
  font-weight: 100;
  min-width: 10px;
  padding: 1px 0px 1px 0px;
  margin: 0px 0px 3px 0px;
}

window#waybar {
  background-color: transparent;
  color: #b3b7bd;
  border: none;
}

#workspaces {
  background-color: #171C21;
  margin: 0px 3px 0px 3px;
  padding: 6px 2.5px 6px 2.5px;
  border: 1px solid rgba(16, 16, 16, 1);
  border-radius: 1px;
}

#workspaces button {
  background-color: #2d3139;
  color: #b3b7bd;
  margin: 3px 3px 0px 3px;
  padding: 4px 0px 4px 0px;
  border-radius: 2px;
  font-size: 10px; /* antes lo tenías a 0; así al menos ves el número */
}

#workspaces button.focused {
  color: #171C21;
  border-bottom: none;
}

#workspaces button.active {
  background: #78B892;
  color: #171C21;
  border-bottom: none;
  padding: 6px 0px 6px 0px;
}

#workspaces button.urgent {
  color: #f7467b;
}

#tray {
  background-color: #171C21;
  margin: 3px;
  padding: 2px 0px 2px 0px;
  border-radius: 4px;
}

#backlight {
  background: linear-gradient(90deg, #ff8a30 0%, #FFC457 80%);
  color: #000A0E;
  margin: 0px;
  padding: 4px 3px;
  border-radius: 10px;
  font-size: 10px;
}

#battery {
  background: linear-gradient(90deg, #1addb0 0%, #00ffb1 80%);
  color: #000A0E;
  margin: 0px;
  padding: 8px 6px;
  border-radius: 15px;
  font-size: 20px;
}

#pulseaudio {
  background: linear-gradient(135deg, #9554ff 0%, #B467F9 80%);
  color: #000A0E;
  margin: 2px;
  padding: 2px 0px 5px 0px;
  border-radius: 6px;
  font-size: 13px;
}

@keyframes blink {
  to { color: #b3b7bd; }
}

#battery.critical:not(.charging) {
  animation-name: blink;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

tooltip {
  border-radius: 5px;
  background: rgba(0, 0, 0, 0);
}

tooltip label {
  color: rgba(0, 0, 0, 0);
}

#clock {
  background-color: #171C21;
  color: #b3b7bd;
  margin: 2px;
  padding: 4px 0px;
  border: 2px solid rgba(16, 16, 16, 1);
  border-radius: 4px;
}

#clock .hour {
  font-size: 14px;
  color: #ac7bac;
}

#clock .minute {
  font-size: 14px;
  color: #367bd0;
}
